@import url(main.css);
/* Start Navbar */
.navbar .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 0;
}
.navbar .logo img {
	max-width: 120px;
}
.navbar .btns a {
	margin: 20px;
}
.navbar .btns a i {
	font-size: 22px;
	color: var(--main-color);
}
/* End Navbar */
/* Start Contact */
.contact {
	border-top: 1px solid #ddd;
	text-align: center;
}
.contact img {
	max-width: 90px;
	margin-top: -55px;
}
.contact h2 {
	margin: 60px auto 0;
	font-size: 35px;
	max-width: 50%;
	line-height: 1.4;
	font-weight: normal;
}
.contact form {
	margin-top: 70px;
}
.contact form label {
	font-size: 19px;
	color: rgba(41, 51, 71, 0.65);
	display: block;
	text-align: left;
}
.contact form .first {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}
.contact form .first input {
	height: 50px;
	width: 300px;
	border: 1px solid #ddd;
	border-radius: 4px;
	outline: none;
	margin-top: 12px;
}
.contact form .second {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 30px;
}
.contact form .msg label {
	text-align: left;
}
.contact form .msg textarea {
	min-width: 630px;
	border: 1px solid #ddd;
	border-radius: 4px;
	outline: none;
	min-height: 200px;
}
.contact form input[type="submit"] {
	margin: 60px 0 80px;
	color: var(--main-color);
	border: 2px solid var(--main-color);
	border-radius: 30px;
	background-color: white;
	padding: 14px 70px;
	font-size: 19px;
	font-weight: 700;
	cursor: pointer;
	transition: var(--main-trasition);
}
.contact form input[type="submit"]:hover {
	color: white;
	background-color: var(--main-color);
}
/* End Contact */
