/* Start Main Rules */
:root {
	--main-color: #7510f7;
	--main-trasition: 0.3s;
}
::-webkit-scrollbar {
	width: 6px;
}
::-webkit-scrollbar-thumb {
	background: black;
}
::-webkit-scrollbar-track {
	background: white;
	border: 1px solid #ddd;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: "Nunito", sans-serif;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
/* Medium */
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
/* Small */
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
/* End Main Rules */
/* Start Navbar */
.navbar .container {
	display: flex;
	justify-content: space-between;
	padding-top: 35px;
	padding-bottom: 35px;
}
.navbar .logo a img {
	max-width: 130px;
}
.navbar .btn {
	display: inline-block;
	height: fit-content;
	border: 2px solid var(--main-color);
	padding: 10px 20px;
	color: var(--main-color);
	border-radius: 25px;
	font-size: 18px;
	font-weight: 600;
	cursor: pointer;
	transition: var(--main-trasition);
}
.navbar .btn:hover {
	color: white;
	background-color: var(--main-color);
}
/* End Navbar */
/* Start Landing */
.landing {
	padding: 40px 0 0 0;
	text-align: center;
}
.landing .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.landing h2 {
	font-size: 45px;
	margin-bottom: 0;
}
.landing p {
	margin-top: 30px;
	font-size: 20px;
	color: rgba(10, 10, 10, 0.9);
	letter-spacing: 0;
}
.landing img.first {
	margin-top: 40px;
}
.landing img.second {
	margin-top: 80px;
}
@media (max-width: 768px) {
	.landing img.second {
		max-width: 500px;
	}
}
@media (max-width: 520px) {
	.landing img.second {
		max-width: 400px;
	}
}
@media (max-width: 420px) {
	.landing img.second {
		max-width: 300px;
	}
}
/* End Landing */
/* Start Description */
.description {
	padding: 130px 0 300px 0;
	background-color: var(--main-color);
	color: white;
	text-align: center;
}
.description .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.description h3 {
	font-size: 30px;
	font-weight: 800;
}
.description p {
	max-width: 550px;
	font-size: 20px;
	font-weight: 900;
	line-height: 1.6;
	font-weight: 100;
	margin: auto;
}
/* End Description */
/* Start Skills */
.skills {
	transform: translateY(-200px);
}
.skills .box {
	padding: 50px 0;
	background-color: white;
	text-align: center;
	max-width: 800px;
	margin: auto;
	border-radius: 10px;
	box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 0 0 1px #e6ecf8;
}
.skills .box h4 {
	font-size: 25px;
}
.skills .box p {
	line-height: 2;
	max-width: 300px;
	margin: auto;
	color: rgb(10, 10, 10);
	font-size: 16px;
}
.skills .box h5 {
	color: var(--main-color);
	font-size: 18px;
	margin: 40px 0 18px 0;
}
.skills .box ul li {
	margin-bottom: 10px;
}
/* End Skills */
/* Start Works */
.works {
	text-align: center;
	position: relative;
	top: -30px;
	padding-bottom: 200px;
	border-bottom: 1px solid #ddd;
}
.works h3 {
	font-size: 35px;
}
.works p {
	font-size: 18px;
	color: rgb(10, 10, 10);
}
.works p a {
	color: var(--main-color);
	font-weight: bold;
	color: #6d10ff;
}
.works .box-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: 40px;
	margin-top: 80px;
}
.works .box {
	width: 32%;
	position: relative;
}
@media (max-width: 992px) {
	.works .box {
		width: 48%;
	}
}
@media (max-width: 768px) {
	.works .box {
		width: 100%;
	}
}
.works .box .info {
	position: absolute;
	left: 50%;
	top: 55%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 110%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: #141c3a;
	border-radius: 10px;
	opacity: 0;
	transition: 0.5s;
}
.works .box:hover .info {
	opacity: 1;
}
.works .box .info h4 {
	width: 90%;
	font-size: 19px;
}
.works .box .info a {
	color: white;
	border: 1px solid #7510f7;
	padding: 10px 15px;
	border-radius: 20px;
	transition: 0.3s;
}
.works .box .info a i {
	font-size: 14px;
	margin-left: 2px;
}
.works .box .info a:hover {
	background-color: #7510f7;
}
.works .box img {
	border-radius: 10px;
	max-width: 100%;
	height: 110%;
}
/* End Works */
/* Start Testemonials */
.testemonials {
	padding: 110px 0;
	text-align: center;
}
.testemonials h3 {
	font-size: 32px;
}
.testemonials p:first-of-type {
	font-size: 19px;
}
.testemonials .box-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	transition: 0.3s;
	min-height: 474px;
	overflow: hidden;
}
.testemonials .box-container .box {
	width: 100%;
	transition: 0.5s;
	position: absolute;
}
.testemonials .box-container .box.one {
	left: 0;
}
.testemonials .box-container .box.two {
	left: 100%;
}
.testemonials .box-container .box.one.show-left {
	left: 0;
}
.testemonials .box-container .box.two.show-left {
	left: 100%;
}
.testemonials .box-container .box.one.show-right {
	left: -100%;
}
.testemonials .box-container .box.two.show-right {
	left: 0;
}
.testemonials .box-container .box img {
	max-width: 90px;
	border-radius: 50%;
	margin: auto;
	display: block;
	margin-top: 90px;
	overflow: hidden;
}
.testemonials .box-container .box p.quote {
	margin-top: 40px;
	line-height: 1.7;
	max-width: 500px;
	margin: 40px auto 0 auto;
	font-size: 22px;
	white-space: normal;
}
.testemonials .box-container .box h4 {
	font-weight: 700;
	margin-top: 50px;
	margin-bottom: 0;
	font-size: 20px;
}
.testemonials .box-container .box p {
	margin-top: 10px;
	color: #141c3a;
}
.testemonials .btn-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
}
.testemonials .btn-container span {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	margin: 7px;
	border: 2px solid #ddd;
	cursor: pointer;
}
.testemonials .btn-container span.activ {
	background-color: var(--main-color);
	border: none;
}
/* End Testemonials */
/* Start Footer */
.footer {
	margin-top: 50px;
	position: relative;
	min-height: 100vh;
	background-color: var(--main-color);
}
.footer .main-box {
	position: absolute;
	width: 90%;
	left: 50%;
	transform: translateX(-50%);
	top: -12%;
	background-color: #141c3a;
	box-shadow: 0 5px 5px 0 rgb(0 0 0 / 20%), 0 0 0 1px #141c3a;
	color: white;
	padding: 40px 100px;
	border-radius: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.footer .main-box h3 {
	font-size: 30px;
}
.footer .main-box p {
	text-align: center;
	line-height: 1.5;
	font-size: 17px;
}
.footer .main-box a {
	color: white;
	border: 2px solid #7510f7;
	padding: 15px 40px;
	border-radius: 30px;
	font-size: 19px;
	font-weight: bold;
	display: block;
	transition: var(--main-trasition);
}
.footer .main-box a:hover {
	background-color: var(--main-color);
}
.footer .main-box .item {
	max-width: 33%;
}
@media (max-width: 992px) {
	.footer .main-box .item {
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.footer .main-box .item:nth-child(3) {
		margin-top: 25px;
	}
}
.footer .sec-box {
	padding-top: 180px;
	text-align: center;
}
@media (max-width: 992px) {
	.footer .sec-box {
		padding-top: 330px;
		padding-bottom: 50px;
	}
}
.footer .sec-box img {
	margin: 20px 0 0 0;
}
.footer .sec-box h4 {
	color: #cfcfcf;
	font-size: 22px;
	max-width: 320px;
	margin: 40px auto;
	line-height: 1.4;
}
.footer .sec-box ul {
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer .sec-box ul li {
	margin: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer .sec-box ul li a {
	color: white;
	border-radius: 50%;
	border: 2px solid #cfcfcf;
	padding: 12px 13px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: var(--main-trasition);
}
.footer .sec-box ul li a:hover {
	color: var(--main-color);
	background-color: white;
	border: 2px solid white;
}
.footer .sec-box .info {
	color: #cfcfcf;
	margin-top: 40px;
}
/* End Footer */
